@model IEnumerable<GamesDomain.Model.Rating>

@{
    ViewData["Title"] = "Index";
}

<h1>Existing ratings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rating1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player.Email)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-GameId="@item.GameId" asp-route-PlayerId="@item.PlayerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
